host.nix
result
.devenv*
devenv.local.nix
.pre-commit-config.yaml
.direnv
config/hammerspoon/Spoons/EmmyLua.spoon/annotations
config/ghostty/config-dankcolors
config/DankMaterialShell/plugins
config/niri/dms/colors.kdl
config/DankMaterialShell/firefox.css
